.status-container {
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
}

h1 {
    font-size: 0.9em;
    font-weight: 100;
    letter-spacing: 3px;
    color: #fcfcfc;
    text-transform: uppercase;
}

.green {
    color: #4ec07d;
}

.red {
    color: #e96075;
}

.alert {
    font-weight: 700;
    letter-spacing: 5px;
}

#success-box {
    width: 180px;
    height: 50px;
    background: linear-gradient(to bottom right, #b0db7d 40%, #99dbb4 100%);
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(203, 205, 211, 0.1);
    perspective: 40px;
}

#error-box {
    width: 180px;
    height: 50px;
    background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(203, 205, 211, 0.1);
}

.message {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}