@import "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  --first-color: #FF8C27;
  --title-color: black;
  --text-color: black;
  --body-color: white;
  --shadow-color: hsla(228, 80%, 4%, .1);
  --body-font: "Inter", sans-serif;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .75rem;
  --font-regular: 400;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color .4s;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  all: unset;
}

.container {
  margin-inline: 1.5rem;
}

.main {
  padding-top: 5rem;
}

/* SHOW-SIDEBAR */
.show-sidebar {
  left: 0;
}

/* ACTIVE-LINK */
.active-link {
  color: var(--first-color);
}

.active-link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 3px;
  height: 20px;
  background-color: var(--first-color);
}

/* GPS ONLINE MAP */
.leaflet-control-container {
  display: none;
  opacity: 0;
}

.leaflet-control-attribution .leaflet-control {
  display: none;
  opacity: 0;
}

/* NPROGRESS BAR */
#nprogress .bar {
  background: #FF8C27;
  height: 3px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #FF8C27, 0 0 5px #FF8C27;
}

#nprogress .spinner-icon {
  border-top-color: #FF8C27;
  border-left-color: #FF8C27;
}